body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body, html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
  text-align: center;
}

.screen-wrap {
  width: 50%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(211,211,211,0.7);
  box-shadow: 0 1px 8px rgb(0,0,0,.4);
  border-radius: 10px;

}

.wrapper {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.picture-container {
  width: 100%;
  height: 100%;
}

.counter-wrapper {
  margin: 0 2rem;
  display: flex;
}

.counter-logo{
  width: 4rem;
  height: 4rem;
}
.x{
  background: url(../assets/x.png) no-repeat center center/cover;
  opacity: .6;
}
.v{
  background: url(../assets/v.png) no-repeat center center/cover;
  opacity: .6;
}

.count {
  font-size: 3rem;
  margin: 0 1rem;
}

h1 {
  font-size: 4rem;
}

button {
  width: 8rem;
  height: 4rem;
  border-radius: 1rem;
  background: rgb(255,255,255,.8);
  font-size: 2.5rem;
  font-family: 700;
  margin: 0 2rem ;
}

@media(max-width: 1000px){
  .screen-wrap{
    width: 90%;
    height: 90%;
  }
  .picture-container {
    height: 60%;
  }

}
@media(max-width: 500px){
  html, body {
    font-size: 50%;
  }
  .picture-container {
    height: 30%;
  }
  h1 {
    font-size: 2.5rem;
  }

}

